.play_track_icon {
  display: none;
}
.tile_container {
  position: relative;
  cursor: pointer;

  .tile_cover {
    transition: 0.5s ease;
  }

  &:hover {
    img {
      opacity: 0.5;
    }

    .play_track_icon {
      display: inline;
      position: absolute;
      top: 150px;
      left: 130px;
      z-index: 10;
      svg {
        font-size: 45px;
        fill: var(--selected-primary-bg);
        background-color: var(--selected-primary-text);
        border-radius: 50%;
      }
    }
  }

  .pause_track_icon {
    display: inline-block;
    position: absolute;
    top: 150px;
    left: 130px;
    z-index: 10;
    svg {
      font-size: 45px;
      fill: var(--selected-primary-bg);
      background-color: var(--selected-primary-text);
      border-radius: 50%;
    }
  }
}
.play_track_icon_not_hover {
  display: inline;
  position: absolute;
  top: 150px;
  left: 130px;
  z-index: 10;
  svg {
    font-size: 45px;
    fill: var(--selected-primary-bg);
    background-color: var(--selected-primary-text);
    border-radius: 50%;
  }
}

.pause_track_icon_not_hover {
  display: inline-block;
  position: absolute;
  top: 150px;
  left: 130px;
  z-index: 10;
  svg {
    font-size: 45px;
    fill: var(--selected-primary-bg);
    background-color: var(--selected-primary-text);
    border-radius: 50%;
  }
}
